doctype html

html
	head
		title VoteApp
		link(href='/public/css/main.css' rel='stylesheet' type='text/css')
		link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet')
		script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		

	body
		#login.input-group
			span
				a.btn.btn-primary.home.nav-btn(href='/') Home
				span#logo-header.page-title Vote/App 
				a#b2.btn.btn-primary.login.nav-btn #{buttonTwo}
				a#b1.btn.btn-primary.login.nav-bth #{buttonOne}