include ./headers.pug

#main
	center
		h1#logo-main Vote/App
		
		#poll-table-div
		
script(type='text/javascript' src='/public/js/index.client.js')
script(type='text/javascript' src='/public/js/headers.client.js')