include ./headers.pug

#main
	center
		h1#poll #{name}
		p#user By #{user}
		
		#option-table-div
		
script(type='text/javascript' src='/public/js/poll.client.js')
script(type='text/javascript' src='/public/js/headers.client.js')